---
layout: default
title: Premiere STL
---

<style>
  li{
    margin-bottom: 5px;
  }
</style>

<!--<p>Vous trouverez bientôt sur cette page l'ensemble des documents distribués en classe. </p>-->

<p>Vous trouverez sur cette page l'ensemble des documents distribués en classe. Tous sont au format PDF et peuvent être imprimés si nécessaire.</p>

Voici un scan de cahier de bord (presque) complet jusqu'au 25/09 :
<ul class="documents">
<li><a href="{{ site.url }}/documents/1STL_cahier_bord.pdf" target="_blank">Cahier de bord</a></li>
</ul>

{% for sequence in site.data.1stl_docs %}
    <h4 class="toggle">{{ sequence.title }}</h4>
    <ul class="documents">
    {% for item in sequence.items %}
    <li><a href="{{ site.url }}/documents/{{ item.link }}" target="_blank">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}

<!--<ul class="documents">
{% for item in site.data.1stl_resumes %}
<li><a href="{{ site.url }}/documents/{{ item.link }}" target="_blank">{{ item.name }}</a></li>
{% endfor %}
</ul>-->

<script>
$(document).ready(function() {
  // Expand only the last item by default
  $('h4.toggle').last().addClass('expanded').next('ul').show();
  
  // Add click event listener to each h4 element
  $('h4').click(function() {
    // Toggle the class to change the indicator
    $(this).toggleClass('expanded');
    // Toggle the visibility of the next ul element with slide animation
    $(this).next('ul').slideToggle();
  });
});
</script>