---
layout: default
title: Seconde
---

<style>

</style>

<p>Vous retrouverez sur cette page l'ensemble des documents distribués en classe. Tous sont au format PDF et peuvent être imprimés si nécessaire.</p>

<h2>Cahier de bord</h2>

{% for part in site.data.seconde_docs %}
    <h3 class= "parties-secondes" style="color:#{{ part.color }}">{{ part.title }}</h3>
    {% for sequence in part.sequences %}
        <h4 class="toggle">{{ sequence.title }}</h4>
        <ul class="documents">
        {% for item in sequence.items %}
        <li><a href="{{ site.url }}/documents/{{ item.link }}" target="_blank">{{ item.name }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endfor %}


<!--
<ul class="toggle-document-list">
{% for item in site.data.seconde_documents %}
{% if item.name == "PART" %}
</ul> <h3 style="color:#{{item.color}}; border-bottom-color:#{{item.color}}">{{item.part_name}}</h3> <ul>
{% elsif item.name == "SEQUENCE" %}
</ul> <h4>{{item.part_name}}</h4> <ul>
{% else %}
<li><a href="{{ site.url }}/documents/{{ item.link }}" target="_blank">{{ item.name }}</a></li>
{% endif %}
{% endfor %}
</ul>
-->


<h2>Cahier de résumés</h2>
<ul class="documents">
{% for item in site.data.seconde_resumes %}
{% if item.name == "blank" %}
</ul><ul class="documents">
{% else %}
<li><a href="{{ site.url }}/documents/{{ item.link }}" target="_blank">{{ item.name }}</a></li>
{% endif %}
{% endfor %}
</ul>

<script>
$(document).ready(function() {
  // Add click event listener to each h4 element
  $('h4').click(function() {
    // Toggle the class to change the indicator
    $(this).toggleClass('expanded');
    // Toggle the visibility of the next ul element with slide animation
    $(this).next('ul').slideToggle();
  });
});
</script>