---
layout: default
title: Seconde
---

<p>Vous retrouverez sur cette page l'ensemble des documents distribués en classe. Tous sont au format PDF et peuvent être imprimés si nécessaire.</p>

<h2>Cahier de bord</h2>
<ul>
{% for item in site.data.documents_seconde %}
{% if item.name == "PART" %}
</ul> <h3>{{item.part_name}}</h3> <ul>
{% elsif item.name == "SEQUENCE" %}
</ul> <h4>{{item.part_name}}</h4> <ul>
{% else %}
<li><a href="{{ site.url }}/documents/{{ item.link }}" target="_blank">{{ item.name }}</a></li>
{% endif %}
{% endfor %}
</ul>

<h2>Cahier de résumés</h2>
<ul>
{% for item in site.data.resumes_seconde %}
{% if item.name == "blank" %}
</ul><ul>
{% else %}
<li><a href="{{ site.url }}/documents/{{ item.link }}" target="_blank">{{ item.name }}</a></li>
{% endif %}
{% endfor %}
</ul>