<header>
    <img src="{{ site.url }}/assets/images/icone.svg" alt="Logo" style="height:60px;">
    <h1>
        <a href='{{ site.url }}/'>Maths avec <br> M. Roumestan</a>
    </h1>
</header>

<hr>
{% if page.url == "/" %}
<nav>
    {% for item in site.data.navigation %}
        <a href="{{ item.link }}" class="{{ item.color }}{% if page.url == item.link %} current{% endif %}">{{ item.name }}</a>
    {% endfor %}
</nav>
{% endif %}
{% if page.url != "/" %}
<nav>
<a href="/" class="red">Accueil</a>
</nav>
{% endif %}
<hr>