body {
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.current {
    color: crimson;
    text-decoration: underline;
}

a:active {
    color: crimson;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: crimson;
}

h1 a {
    color: black;
    text-decoration: none;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}