body {
    font-family: 'Arial', sans-serif;
    max-width: 450px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

header h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: black;
}

nav a.current {
    background-color: #e74c3c;  /* Set the background color for the current page */
}

/* Add hover effect */
nav a:hover {
    background-color: lightgray;  /* Set the background color on hover */
}

h1 a {
    color: black;
    text-decoration: none;
}

h2 + .date {
    margin-top: -1em;
    font-style: italic;
}

h4 + ul {
    margin-top: -1em;
}


.img-responsive {
    max-width: 100%;
    height: auto;
}