---
---

body {
    font-family: 'Arial', sans-serif;
    max-width: 400px;
    margin: auto;
    padding: 1.5vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0 10px;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

nav a {
    background: none;
    border: 2px solid #000;
    border-radius: 20px;
    color: #000;
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 10px auto;
    padding: 0 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 80%;
    font-weight: bold;
}

nav a:hover {
    background-color: lightgray;
    cursor: pointer;
}

nav a.green {
    border-color: #27ae60;
    color: #27ae60;
}

nav a.green:hover {
    background-color: #27ae60;
    color: #fff;
}

nav a.orange {
    border-color: #e67e22;
    color: #e67e22;
}

nav a.orange:hover {
    background-color: #e67e22;
    color: #fff;
}

nav a.blue {
    border-color: #3498db;
    color: #3498db;
}

nav a.blue:hover {
    background-color: #3498db;
    color: #fff;
}

nav a.purple {
    border-color: #9b59b6;
    color: #9b59b6;
}

nav a.purple:hover {
    background-color: #9b59b6;
    color: #fff;
}

nav a.red {
    border-color: #e74c3c;
    color: #e74c3c;
}

nav a.red:hover {
    background-color: #e74c3c;
    color: #fff;
}
    
nav a.current {
    background-color: #e74c3c;  /* Set the background color for the current page */
}

h1 a {
    color: black;
    text-decoration: none;
}

h2 + .date {
    margin-top: -1em;
    font-style: italic;
}

h3 + ul {
    margin-top: -0.5em;
}

h4 + ul {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    margin-top: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

h4:has(+ul) {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 5px;
}

h4::before {
    content: "\f105"; /* Unicode for right-pointing triangle */
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

h4.expanded::before {
  transform: rotate(90deg);
}