---
---

body {
    font-family: 'Nunito', sans-serif;
    max-width: 400px;
    margin: auto;
    padding: 1.5vh;
    background: #fafafa;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0 10px;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 1;
}

header a {
    color: inherit;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

nav a {
    width: 100%;
    margin: 10px auto;
    border: 2px solid #000;
    border-radius: 20px;
    background: #fff;
    height: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    cursor: pointer;
}

nav a.green {
    border-color: #27ae60;
    color: #27ae60;
}

nav a.green:hover {
    background-color: #27ae60;
    color: #fff;
}

nav a.orange {
    border-color: #e67e22;
    color: #e67e22;
}

nav a.orange:hover {
    background-color: #e67e22;
    color: #fff;
}

nav a.blue {
    border-color: #3498db;
    color: #3498db;
}

nav a.blue:hover {
    background-color: #3498db;
    color: #fff;
}

nav a.purple {
    border-color: #9b59b6;
    color: #9b59b6;
}

nav a.purple:hover {
    background-color: #9b59b6;
    color: #fff;
}

nav a.red {
    border-color: #e74c3c;
    color: #e74c3c;
}

nav a.red:hover {
    background-color: #e74c3c;
    color: #fff;
}

h2 + .date {
    margin-top: -1em;
    font-style: italic;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

h4.toggle {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

h4.toggle + ul {
    display: none;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    margin-top: 0;
}

h4.toggle::before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

h4.expanded::before {
  transform: rotate(90deg);
}

h3.parties-secondes {
    color: black;
    border-bottom: 2px solid;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul.documents {
    list-style-type: none;
    padding-left: 10px;
}

h4.toggle + ul.documents {
    padding-left: 25px;
}

ul.documents li:before {
    content: "\f15b";
    font-family: 'Font Awesome 5 Free';
    margin-right: 5px;
}

h2.underline {
    margin-top: 30px;
    margin-bottom: 0px;
    border-bottom: 3px solid;
    font-variant: small-caps;
}